.parser-resolver-wrapper {
  margin-top: 20px;
  font-size: 16px;
  transition: all 0.6s ease;
  animation: slide-in ease-out forwards 0.16s;

  .ant-card-body {
    padding: 6px 12px;
  }

  .ant-col {
    padding: 5px 0;
    height: 40px;
    display: flex;
    align-items: center;
  }

  input {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    box-shadow: none !important;
    border-radius: 0;
  }

  .ant-input-group-addon {
    background: none;
    border: none;
    color: mediumblue;
  }

  .ant-input[disabled] {
    background: none;
  }

}

@keyframes slide-in {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}