.badge() {
  position: absolute;
  content: 'Query';
  right: 20px;
  top: -5px;
  font-size: 36px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.12);
  font-style: italic;
  pointer-events: none;
  user-select: none;
  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 100;
}

.parser-wrapper() {
	position: relative;
	padding-top: 10px;
}

.parsed-highlight() {
  .parsed {
		filter: sepia(1);
  }
}