.app-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;

  main {
    background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: auto;
    padding: 0 12px;
    position: fixed;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 5;

    &.init {
      transform: translateX(-100%);
    }
  }

  aside {
    z-index: 5;
    padding-top: 80px;
    background: #41b883;
    color: white;
    width: 40%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    transition: all 0.3s ease;

    &.init {
      transform: translateX(100%);
    }
  }

  pre {
    padding: 6px 12px;
    margin: 10px 0;
    background: beige;
  }

  .exit-editor-action {
    position: absolute;
    z-index: 10;
    position: absolute;
    bottom: 100px;
    transform: translateX(-50%);
    left: 60%;
    width: 50px;
    height: 50px;
    background: darkslategray;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    transition: all 0.3s ease-out;

    &.init {
      transform: translateX(-50%) translateY(200px);
      opacity: 0;
      pointer-events: none;
      background: #eff3f6;
      color: #eff3f6;
    }

    &:active {
      filter: saturate(1.5);
    }

    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      background: #eff3f6;
      color: darkslategray;
    }
  }
}