.app-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;

  main {
    background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: auto;
    padding: 0 20px;
    position: relative;
    transition: all 0.3s ease;
    z-index: 20;

    &.init {
      transform: translateX(-100%);
    }
  }

  aside {
    z-index: 20;
    padding-top: 80px;
    background: #41b883;
    color: white;
    width: 40%;
    position: relative;
    transition: all 0.3s ease;

    &.init {
      transform: translateX(100%);
    }
  }

  pre {
    padding: 6px 12px;
    margin: 10px 0;
    background: beige;
  }
}