@import "../parser.less";
@prefix: uri-parser;
@theme-color: hsl(153, 48%, 49%);

.@{prefix}-wrapper {
	.parser-wrapper();
	.parsed-highlight();
	border-color: @theme-color;

	.@{prefix}-item {
		div:first-child {
			justify-content: flex-end;
		}
	}


	&::before {
		.badge();
		content: 'URI';
		background-color: @theme-color;
	}
}